.App-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    padding: 20px 0;
    border-bottom: 1px solid rgb(172, 242, 255);
}

.App-logo{
    width: 30px;
}